/*Versão 1 (25/10/2023)
    Feito por RICARDO BATISTA GUIMARÃES*/

/* Estilos para o corpo da página */
body {
    font-family: Arial, sans-serif;
    background-image: url(IMG/2.jpg);
  
}


/* Estilos para o cabeçalho */
    header {
        background: linear-gradient(999deg, #000000,#000000, #0000007c, #000000, #000000); /* Fundo com gradiente */
        color: #fff;
        padding: 20px 0;
        text-align: center;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        display: flex; /* Usa flexbox para alinhar o conteúdo */
        justify-content: space-between; /* Alinha o título e a navegação nos cantos opostos */
        align-items: center;
}

/* Estilizando o título */
header h1 {
    font-size: 36px;
    color: #007a8f;
    margin: 0;
    font-family: 'Roboto', sans-serif; /* Fonte personalizada para um toque tecnológico */
}

/* Estilos para a navegação */
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    transition: color 0.3s;
    font-family: 'Roboto', sans-serif; /* Fonte personalizada para um toque tecnológico */
}

nav ul li a:hover {
    color: #007a8f;
}

/* Estilo para tornar a barra de navegação fixa no topo */
nav {
    position: sticky;
    top: 0;
    background-color: #000000;
    z-index: 100;
    border-radius: 10px; /* Adiciona borda arredondada ao fundo */
}

#sobre h1,h2 {
    font-size: 32px;
    font-weight: bold;
    color: #007a8f; /* Cor do título */
    margin-bottom: 30px;
}

.feature {
    margin: 20px;
    padding: 20px;
    background-color: #020000ce; /* Fundo branco para cada bloco de qualidade */
    border-radius: 10px; /* Borda arredondada mais pronunciada */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15); /* Sombra mais notável */
    text-align: left;
}

.feature p {
    font-size: 18px;
    color: #ffffff; /* Cor de texto mais escura */
    line-height: 1.6;
}


/* Responsividade para telas menores */
@media (max-width: 768px) {
    #qualidade h2 {
        font-size: 28px;
    }

    .feature h3 {
        font-size: 20px;
    }

    .feature p {
        font-size: 16px;
    }
}

/* Ajuste o espaçamento vertical para os blocos de qualidade */
.feature:not(:last-child) {
    margin-bottom: 40px;
}

     
/* Responsividade para telas menores */
@media (max-width: 768px) {
    form {
        padding: 20px;
    }

    form button {
        padding: 10px 20px;
    }
}

/* Estilos padrão para telas maiores */
.social {
    position: static;
    z-index: 60;
    bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social p {
    color: #007a8f;
}

.social li {
    list-style: none;
}

.social li a {
    display: inline-block;
    margin: 0 100px;
    filter: invert(1);
    transform: scale(0.5);
    transition: 0.5s;
}

.social li a:hover {
    transform: scale(0.8) translateY(-25px);
}

footer {
    background-color: #161616; /* Cor de fundo do footer (rodapé) */
}

/* Estilos para telas médias (768px a 1024px de largura) */
@media (min-width: 768px) and (max-width: 1024px) {
    .social li a {
        margin: 0 50px;
    }
}

/* Estilos para telas pequenas (até 768px de largura) */
@media (max-width: 768px) {
    .social {
        justify-content: space-around;
    }

    .social li a {
        margin: 0 20px;
    }
}
